/* membuat body bewarna abu abu dan font bertipe arial dan sans serif ukuran 16px */
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

/* membuat canvas putih ditengah */
.container {
    background-color: white;
    margin: 0 auto;
    width: 800px;
}

/* mengatur jarak dalam header */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* mengatur judul */
.header .judul{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi atau menu atas */

.nav {
    padding: 0px;
}
.nav li {
    /* membuat list navigasi menjadi horizontal dan mengatur jarak antar menu */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* mengatur link navigasi */
.nav li a {
    /* untuk menghilangkan garis bawah pada link navigasi dan mengatur warna link navigasi */
    text-decoration: none;
    color: navy;
}

/* membuat animasi saat link disorot */
.nav li a:hover {
    background-color: blue;
    color: white;
}

/* untuk banner */
.banner {
    height: 300px;
    /* warna cadangan kalau gambar belum ada */
    background-color: skyblue;
    /* memasukkan gambar banner dari folder img */
    background-image: url(../img/FOTO\ ASYA.jpeg);
    /* mengatur ukuran gambar agar memenuhi banner */
    background-size: cover;
    /* mengatur posisi gambar secara horizontal dan vertikal */
    background-position: 0px -150px;
    /* membuat garis tepi atas dan bawah banner */
    border-top: 5px solid navy;
    border-bottom: 5px solid skyblue;
}

/* untuk isi artikel */
.isi {
    padding: 20px;
}

.isi h2 {
    font-size: 30px;
    font-weight: bold;
}

.isi .penulis {
    font-size: 14px;
    /* agar posisinya agak naik mendekati judul */
    margin-top: -10px;
}

.isi .penulis a {
    text-decoration: none;
    color: skyblue;
}

.isi p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* untuk footer */
.footer {
    background-color: navy;
    height: 50px;
    padding: 2px;
}

.footer .copyright {
    font-size: 16px;
    color: white;
    text-align: center;
}